@font-face{
    font-family: "Crimson Text", serif;
    font-family: "Joan", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Joan&display=swap");
}

:root {
    --text: rgb(46, 129, 188)
}



body{
    margin: 0;
    font-size: 10px;
    background-color: rgb(243, 214, 219);
}

#main-header{
   border-top: 3px solid var(--text);
   border-bottom: 3px solid var(--text);
   height: auto;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.header-accent{
    width: 30px;
    height:30px;
    transform: rotate(45deg);
    margin: 10px;
}

.header-accent:first-of-type {
    margin-left: 15px;
}

.header-accent:last-of-type {
    margin-right: 30px;
}

.bordera {
    background-color:var(--text);
    height:30px;
    width:5px;
    top: 0;
    position:absolute;
}

.borderb {
    background-color: var(--text);
    height:35px;
    width:5px;
    top:0;
    left:30px;
    position: absolute;
}

.borderc {
    background-color: var(--text);
    height:5px;
    width:30px;
    top:0px;
    position: absolute;
}

.borderd {
    background-color: var(--text);
    height:5px;
    width:30px;
    top: 30px;
    position: absolute;
}

#main-title{
   font-size: 2.5rem;
   text-align: center;
   letter-spacing: 10px;
}

.heading-font{
    font-family: "Joan", sans-serif;
      
}
 
.content-font{
    font-family: "Crimson Text", serif;
    font-size: 1.2rem;

}
 
.sub-heading{
    font-size: 2rem;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.top-course-list{
    list-style-type: none;
}

.nav{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: .5rem;
   
  }

  .nav-list{
    display: flex;
    margin-right: 2rem;
   
  }

nav li{
    height:30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid var(--text);
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 4px;
    list-style-type: none;
   
} 

nav li:hover {
   list-style-type: none;
   background-color: var(--text);
   text-decoration: none;
   color: rgb(255, 255, 255);


}

a li:hover{
    color: white;
}

a:hover{
    text-decoration: none;   
}

a:active{
    color: rgb(164, 164, 32);
}

.exlink {
    width: 10px;
    height: 10px;
    display:inline-flex;
    transform: scale(.07);
    margin-right:5px;
}

.leftborder {
    background-color:black;
    width: 20px;
    height:90px;
    border-radius:  30%;
    left:0px;
    top:5px;
    position: absolute;
}

.topborder {
    background-color:black;
    width: 50px;
    height:20px;
    position: absolute;
    border-radius: 30%;
    left:5px
}

.bottomborder {
    background-color:black;
    width: 90px;
    height:20px;
    position: absolute;
    top: 80px;
    left:5px;
    border-radius: 30%;
}

.rightborder {
    background-color:black;
    width: 20px;
    height:50px;
    border-radius:30%;
    left:80px;
    top:45px;
    position: absolute;
}

.line {
    background-color: black;
    width:10px;
    height:90px;
    position:absolute;
    transform: rotate(45deg);
    left:60px;
    top:-10px;
}

.toptri {
    background-color:black;
    width: 40px;
    height: 7px;
    position:absolute;
    left: 60px;
    top:0px;
}

.bottomtri {
    background-color:black;
    width: 7px;
    height:40px;
    position:absolute;
    left: 94px;
    top:0px;
}

.arrow {
    position: absolute;
    left: 10px;
    top: -10px;
}
